body {
    margin: 0;
    padding: 0;
    background-color: #333;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('eyeglass.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    padding: 12px 30px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta:hover {
    background-color: #c00;
}

.background-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: -1;
}

.background-text h1 {
    font-size: 200px;
    opacity: 0.1;
    margin: 0;
    color: #d63384;
    animation: moveBackgroundText 10s infinite;
}

@keyframes moveBackgroundText {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
}
