<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Measure ai</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/measure.css') }}"
    />
  </head>
  <body>
    <h1 class="main_title">MEASURE.AI</h1>
    <h2>Guidelines</h2>
    <p>
      1. Ensure proper lighting <br />
      2. Keep a credit/debit card parallel to your face <br />
      3. Keep your face within 30 to 70 cm from your webcam <br />
    </p>
    <div class="return">
      <a href="/home">Return to home</a>
    </div>
  </body>
</html>
